__pycache__
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/
examples/*.png

# environment stuff
.autoenv
.autoenv.leave
typings/

# agentic stuff
.commandcode
datasets/
results/
data/
